:root {
  --font-family: 'Nunito', Tahoma, Geneva, Verdana, sans-serif;
}

body, .pure-g, .pure-g [class*=pure-u] {
  font-family: var(--font-family) !important;
  font-size: 18px;
  font-weight: 600;
  background-color: #fefef0;
}

h1 {
  font-size: 2rem;
}
